## Final Project Submission

* Student name:  Neel Patel
* Student pace: full time
* Scheduled project review date/time: TBC
* Instructor name: Abhineet Kulkarni
* Blog post URL: TBC

In [92]:
import pandas as pd
import numpy as np

# Using glob package to load multiple filenames of CSV & TSV format so 
# they can be used by the panda read_csv method in a for loop.

import os
from glob import glob

csv_files = glob(".\zippedData\*.csv.gz")
tsv_files = glob(".\zippedData\*.tsv.gz")

print('CSV files:\n')
print(csv_files)
print('\n')

print('TSV files:\n')
print(tsv_files)

CSV files:

['.\\zippedData\\bom.movie_gross.csv.gz', '.\\zippedData\\imdb.name.basics.csv.gz', '.\\zippedData\\imdb.title.akas.csv.gz', '.\\zippedData\\imdb.title.basics.csv.gz', '.\\zippedData\\imdb.title.crew.csv.gz', '.\\zippedData\\imdb.title.principals.csv.gz', '.\\zippedData\\imdb.title.ratings.csv.gz', '.\\zippedData\\tmdb.movies.csv.gz', '.\\zippedData\\tn.movie_budgets.csv.gz']


TSV files:

['.\\zippedData\\rt.movie_info.tsv.gz', '.\\zippedData\\rt.reviews.tsv.gz']

In [93]:
# importing CSV and TSV files into a dictionary with the filenames as the keys.
d = {}
for file in csv_files:
    d[file] = pd.read_csv(file)
    
# TSV files need different encoding parameter to fix read errors.
for file in tsv_files:
    d[file] = pd.read_csv(file, delimiter='\t', encoding = 'unicode_escape')

In [94]:
# Checking keys correctly showing filenames of the datasets, but they look too complicated.
d.keys()

dict_keys(['.\\zippedData\\bom.movie_gross.csv.gz', '.\\zippedData\\imdb.name.basics.csv.gz', '.\\zippedData\\imdb.title.akas.csv.gz', '.\\zippedData\\imdb.title.basics.csv.gz', '.\\zippedData\\imdb.title.crew.csv.gz', '.\\zippedData\\imdb.title.principals.csv.gz', '.\\zippedData\\imdb.title.ratings.csv.gz', '.\\zippedData\\tmdb.movies.csv.gz', '.\\zippedData\\tn.movie_budgets.csv.gz', '.\\zippedData\\rt.movie_info.tsv.gz', '.\\zippedData\\rt.reviews.tsv.gz'])

In [95]:
# Neating the key names for CSV filenames and loading datesets into files_dict dataframe.
files_dict = {}
for filename in csv_files:
    # cleaning the filenames
    filename_cleaned = os.path.basename(filename).replace(".csv.gz", "").replace(".", "_") 
    filename_df = pd.read_csv(filename)
    files_dict[filename_cleaned] = filename_df

In [96]:
# Neatening the key names for TSV filenames and loading datesets into files_dict dataframe.
for filename in tsv_files:
    # cleaning the filenames
    filename_cleaned = os.path.basename(filename).replace(".tsv.gz", "").replace(".", "_")
    filename_df = pd.read_csv(filename, delimiter='\t', encoding = 'unicode_escape')
    files_dict[filename_cleaned] = filename_df

<br>

Exploring: IMDB_name_basics

In [97]:
print(files_dict['imdb_name_basics'].info())
files_dict['imdb_name_basics'].tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
nconst                606648 non-null object
primary_name          606648 non-null object
birth_year            82736 non-null float64
death_year            6783 non-null float64
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: float64(2), object(4)
memory usage: 27.8+ MB
None

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

<br>
Check for missing values and duplicates

In [98]:
files_dict['imdb_name_basics'].isna().sum()

nconst                     0
primary_name               0
birth_year            523912
death_year            599865
primary_profession     51340
known_for_titles       30204
dtype: int64

In [99]:
files_dict['imdb_name_basics']['nconst'].nunique()

606648

Comments on the data

* 'birth year' and 'death year' are missing more than 90% of entries. They aren't useful or related to our questions so will be dropped.
    
    
* 'primary profession' & known_for_titles missing a small amount of entries.
    SOLUTION: they are not numerical, therefore it would be better to categorize as 'unknown' or 'NaN'.

Dropping 'birth_year' and 'death_year' :

In [100]:
files_dict['imdb_name_basics'] = files_dict['imdb_name_basics'].drop('birth_year', axis=1)
files_dict['imdb_name_basics'] = files_dict['imdb_name_basics'].drop('death_year', axis=1)

Drop rows with missing rows

In [101]:
files_dict['imdb_name_basics'].dropna(inplace=True)

In [102]:
print(files_dict['imdb_name_basics'].info())
#print(files_dict['imdb_name_basics'].isna().any())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 535137 entries, 0 to 606647
Data columns (total 4 columns):
nconst                535137 non-null object
primary_name          535137 non-null object
primary_profession    535137 non-null object
known_for_titles      535137 non-null object
dtypes: object(4)
memory usage: 20.4+ MB
None


Exploring: IMDB_title_akas

In [103]:
print(files_dict['imdb_title_akas'].info())
files_dict['imdb_title_akas'].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
title_id             331703 non-null object
ordering             331703 non-null int64
title                331703 non-null object
region               278410 non-null object
language             41715 non-null object
types                168447 non-null object
attributes           14925 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB
None

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

 Comments on the data

* 'language',  'types' and 'attributes' are missing more than 50% of entries. 
    SOLUTION: drop columns
* missing data from 'region' should be catagorised as 'missing'
* No unique values that can act as a key so but 'title_id' can be used to join with 'title_basics' data
* Dropping rows with missing data for language because only 12.6% of the data is there
* Dropping 'Type' & 'attributes' because 50% missing and data is not useful for analysis.
* Dropping the small amount of 'is_original_title' rows as there is no benefit to including them.

In [104]:
files_dict['imdb_title_akas'] = files_dict['imdb_title_akas'].drop('language', axis=1)
files_dict['imdb_title_akas'] = files_dict['imdb_title_akas'].drop('types', axis=1)
files_dict['imdb_title_akas'] = files_dict['imdb_title_akas'].drop('attributes', axis=1)

In [105]:
files_dict['imdb_title_akas']['region'] = files_dict['imdb_title_akas']['region'].fillna(value='missing')

In [106]:
files_dict['imdb_title_akas'].dropna(inplace=True)

In [107]:
#check to see if any N/A values remaining
files_dict['imdb_title_akas'].isna().any()

title_id             False
ordering             False
title                False
region               False
is_original_title    False
dtype: bool

In [108]:
#check unique values
files_dict['imdb_title_akas'].nunique()

title_id             122288
ordering                 61
title                252765
region                  214
is_original_title         2
dtype: int64

In [109]:
#check the amount of missing rows
files_dict['imdb_title_akas'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331678 entries, 0 to 331702
Data columns (total 5 columns):
title_id             331678 non-null object
ordering             331678 non-null int64
title                331678 non-null object
region               331678 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 15.2+ MB

<br>
Exploring: IMDB_title_basics

In [110]:
#check for missings row and object types
print(files_dict['imdb_title_basics'].info())
files_dict['imdb_title_basics'].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB
None

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [111]:
#check for N/A values
files_dict['imdb_title_basics'].isna().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [112]:
# change runtime_minutes to numeric format

files_dict['imdb_title_basics']['runtime_minutes'] = pd.to_numeric(files_dict['imdb_title_basics']['runtime_minutes'], errors='coerce')
temp = files_dict['imdb_title_basics']['runtime_minutes'].dropna(inplace=False)
run_median = np.median(temp)
files_dict['imdb_title_basics']['runtime_minutes'] = files_dict['imdb_title_basics']['runtime_minutes'].fillna(value=run_median)

In [113]:
files_dict['imdb_title_basics'].dropna(inplace=True)

In [114]:
temp = files_dict['imdb_title_basics']
temp.loc[temp['runtime_minutes'] >120].head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History"

In [115]:
files_dict['imdb_title_basics'].isna().any()

tconst             False
primary_title      False
original_title     False
start_year         False
runtime_minutes    False
genres             False
dtype: bool

 Comments on the data

* runtime_minutes is missing some data, the median for the genre can be used to fill the data if appropriate.

<br>
Exploring: IMDB_title_crew

In [116]:
print(files_dict['imdb_title_crew'].info())
files_dict['imdb_title_crew'].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
tconst       146144 non-null object
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(3)
memory usage: 3.3+ MB
None

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [117]:
files_dict['imdb_title_crew'].isna().sum()

tconst           0
directors     5727
writers      35883
dtype: int64

In [118]:
files_dict['imdb_title_crew']['tconst'].nunique()

146144

In [119]:
files_dict['imdb_title_crew']['directors'] = files_dict['imdb_title_crew']['directors'].fillna(value='missing')
files_dict['imdb_title_crew']['writers'] = files_dict['imdb_title_crew']['writers'].fillna(value='missing')

In [120]:
files_dict['imdb_title_crew'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
tconst       146144 non-null object
directors    146144 non-null object
writers      146144 non-null object
dtypes: object(3)
memory usage: 3.3+ MB


Comments on the data

* directors and writers missing some data, 
This is non-numerical data and the amount is small so dropping the rows maybe the best option.

<br>
Exploring: IMDB_title_principals

In [121]:
print(files_dict['imdb_title_principals'].info())
files_dict['imdb_title_principals'].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
tconst        1028186 non-null object
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB
None

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [122]:
files_dict['imdb_title_principals'].isna().sum()

tconst             0
ordering           0
nconst             0
category           0
job           850502
characters    634826
dtype: int64

In [123]:
files_dict['imdb_title_principals']['nconst'].nunique()

604546

'job' and 'character' fields aren't useful to the questions being asked and there is more than 50% of the data that is missing.
These will be dropped from the table.

In [124]:
files_dict['imdb_title_principals'] = files_dict['imdb_title_principals'].drop('characters', axis=1)
files_dict['imdb_title_principals'] = files_dict['imdb_title_principals'].drop('job', axis=1)
files_dict['imdb_title_principals'].head()

      tconst  ordering     nconst  category
0  tt0111414         1  nm0246005     actor
1  tt0111414         2  nm0398271  director
2  tt0111414         3  nm3739909  producer
3  tt0323808        10  nm0059247    editor
4  tt0323808         1  nm3579312   actress


Comments on the data

* directors and writers missing some data, 
This is non numerical data and the amount is small so dropping the rows maybe the best option.


Exploring: IMDB_title_ratings

In [125]:
print(files_dict['imdb_title_ratings'].info())
files_dict['imdb_title_ratings'].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB
None

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [126]:
files_dict['imdb_title_ratings'].isna().sum()

tconst           0
averagerating    0
numvotes         0
dtype: int64

In [127]:
files_dict['imdb_title_ratings']['tconst'].nunique()

73856


Comments on the data

* no missing data

In [128]:
import sqlite3

In [37]:
conn = sqlite3.connect("movies_db.sqlite")

In [38]:
def create_sql_table_from_df(df, name, conn):
    try:
        df.to_sql(name, conn)
        print(f"Created table {name}")
    
    except Exception as e:
        print(f"could not make table {name}")
        print(e)

In [39]:
for name, table in files_dict.items():
    create_sql_table_from_df(table, name, conn)

Created table bom_movie_gross
Created table imdb_name_basics
Created table imdb_title_akas
Created table imdb_title_basics
Created table imdb_title_crew
Created table imdb_title_principals
Created table imdb_title_ratings

C:\Users\Neel\Anaconda3\lib\site-packages\pandas\core\generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

Created table tmdb_movies
Created table tn_movie_budgets
Created table rt_movie_info
Created table rt_reviews

In [40]:
#check what tables have are present
conn.execute("select name from sqlite_master where type='table';").fetchall()

[('bom_movie_gross',),
 ('imdb_name_basics',),
 ('imdb_title_akas',),
 ('imdb_title_basics',),
 ('imdb_title_crew',),
 ('imdb_title_principals',),
 ('imdb_title_ratings',),
 ('tmdb_movies',),
 ('tn_movie_budgets',),
 ('rt_movie_info',),
 ('rt_reviews',)]

In [50]:
# Now that the data has been cleaned, save each table as a CSV
for name, table in files_dict.items():
    table.to_csv(str(name) +'.csv', encoding='utf-8')